<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% locations.forEach(function(location){ %>
    <tr>
      <td><a href="/location/<%= location.id %>"><%= location.name %></a></td>
      <td>
        <ul class="inline-table-list">
          <% location.tags.forEach(function(tag){ %>
            <li><span class="label label-info"><%= tag.name %></span></li>
          <% }) %>
      </td>
      <td>
        <ul class="inline-table-list">
          <li>
            <button class="btn btn-info" data-toggle="modal" data-target="#view-history-<%= location.id %>">
              <i class="fa fa-lg fa-history"></i>
            </button>
            <div class="modal fade" id="view-history-<%= location.id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Viewing Edit History For <%= location.name %></h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li><a href="/location/update/<%= location.id %>" class="btn btn-warning"><i class="fa fa-lg fa-pencil"></i></a></li>
          <li>
            <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-<%= location.id %>">
              <i class="fa fa-lg fa-trash"></i>
            </button>
            <div class="modal fade" id="confirm-delete-<%= location.id %>" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure you wish to delete <%= location.name %></h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger">Yes</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
