<div class="row">
  <h1><%= rack.name %></h1>
</div>
<div class="row">
  <div class="col-lg-8">

  </div>
  <div class="col-lg-4">

    <div class="col-xs-12">
      <% rack.items.forEach(function(item){ %>
      <div id="rack-row-<%= i %>" class="rackRowContainer rackRowSize-<%= item.size %>">
        <div class="rackNumbers">
          <% for (var i = 1 ; i <= item.size; i++) { %>
            <div class="rackNumber"><%= i %></div>
          <% } %>
        </div>
        <div class="rackItem">
          <%= item.name %>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
